In [74]:
import numpy as np
import pandas as pd
import plotly.express as px
import plotly.graph_objects as go
from pyarrow import parquet

In [127]:
ss_df = pd.read_parquet("../refined-data/refined-SSDB.parquet")
rand_df = pd.read_parquet("../refined-data/refined-RAND.parquet")
fig = px.choropleth(
    rand_df,
    title="Firearm Ownership Rate",
    locations="State", 
    locationmode="USA-states", 
    scope="usa",
    color="HFR",
    color_continuous_scale="Viridis",
    range_color=(rand_df["HFR"].min(), rand_df["HFR"].max()),
    animation_frame="Year",
)
ss_df['Year'] = ss_df['Date'].dt.year
fig.add_trace(px.scatter_geo(
    ss_df,
    lat = ss_df["LAT"],
    lon = ss_df["LNG"],
    #mode = 'markers',
    #text = some_text,  #a list of strings, one  for each geographical position  (lon, lat)              
    #below='',      
    #marker_size=12, marker_color='rgb(235, 0, 100)',
    size=ss_df["Number_Victims"],
    animation_frame=ss_df["Year"],
).update_traces(marker=dict(color='crimson')).data[0])
fig.update_layout(
    #autosize=False,
    #width=900,
    #height=800,
    margin=dict(l=10, r=10, t=50, b=0)
)
fig.show(renderer="browser")

In [124]:
ss_df[["Date", "Number_Victims", "LAT", "LNG"]]
# ss_df.groupby(ss_df["Date"].dt.year)["Number_Victims"].agg(['sum','count'])
ss_df['Year'] = ss_df['Date'].dt.year

,Date,Victims_Killed,Victims_Wounded,Number_Victims,State,Targets,LAT,LNG,Year
0,2023-04-14,1,0,1,AZ,Victims Targeted,33.502159,-112.195755,2023
1,2023-04-14,0,0,0,WI,NaN,43.018465,-88.263714,2023
2,2023-04-14,0,0,0,PA,Both,40.419884,-79.878248,2023
3,2023-04-13,0,0,0,IL,Both,41.869329,-87.686209,2023
4,2023-04-12,0,1,1,TX,Both,29.654350,-95.528578,2023
...,...,...,...,...,...,...,...,...,...
1647,2000-01-26,0,0,0,CA,Victims Targeted,37.287308,-120.496096,2000
1648,2000-01-20,0,0,0,NC,Random Shooting,35.619126,-82.626511,2000
1649,2000-01-19,1,0,1,FL,Random Shooting,28.271424,-82.687720,2000
1650,2000-01-13,0,0,0,NM,Victims Targeted,35.097222,-106.635166,2000
1651,2000-01-10,0,0,0,AK,Victims Targeted,61.232452,-149.733451,2000

In [129]:
# fig = go.Figure()

# fig.add_trace(go.Choropleth(
#     #title="Firearm Ownership Rate",
#     locations=rand_df["State"],
#     locationmode="USA-states",
#     #scope="usa",
#     z=rand_df["HFR"],
#     colorscale="Viridis",
#     #range_color=(rand_df["HFR"].min(), rand_df["HFR"].max()),
#     #animation_frame="Year",
# ))

In [144]:
choropleth = px.choropleth(
    rand_df,
    title="Firearm Ownership Rate",
    locations="State", 
    locationmode="USA-states", 
    scope="usa",
    color="HFR",
    color_continuous_scale="Viridis",
    range_color=(rand_df["HFR"].min(), rand_df["HFR"].max()),
    animation_frame="Year",
)
ss_df['Year'] = ss_df['Date'].dt.year
scatter = px.scatter_geo(
    ss_df,
    lat = ss_df["LAT"],
    lon = ss_df["LNG"],
    #mode = 'markers',
    #text = some_text,  #a list of strings, one  for each geographical position  (lon, lat)              
    #below='',      
    #marker_size=12, marker_color='rgb(235, 0, 100)',
    size=ss_df["Number_Victims"],
    size_max=20 * 2.5,
    animation_frame=ss_df["Year"],
)
fig = go.Figure(
    data=choropleth.data + scatter.data,
    frames=[
        go.Frame(data=fr1.data + fr2.data, name=fr1.name) for fr1, fr2
        in zip(choropleth.frames, scatter.frames)
    ],
    layout=choropleth.layout
)

fig.update_layout(
    #autosize=False,
    #width=900,
    #height=800,
    #margin=dict(l=10, r=10, t=50, b=0)
)
fig.show(renderer="browser")